<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SkyBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkyBook"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.GetStartedActivity" />
        <activity android:name=".activities.AuthActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.FlightResultsActivity" />
        <activity android:name=".activities.SeatSelectorActivity" />
        <activity android:name=".activities.BookingActivity" />
        <activity android:name=".activities.ConfirmationActivity" />
        <activity android:name=".activities.CheckInActivity" />
        <activity android:name=".activities.FlightStatusActivity" />
        <activity android:name=".activities.AdminDashboardActivity" />

    </application>

</manifest>
